## General Defaults
# PUBLIC=false
# MIRROR_MSG=" [ mirrored from codeberg.org/ghassan ]"

## GitHub
# GITHUB_TOKEN=*access_token*

## GitLab
# GITLAB_TOKEN=*access_token*
# GITLAB_URL=gitlab.com

## Codeberg
# CODEBERG_TOKEN=*access_token*
# CODEBERG_USER=ghassan

## GITEA
# GITEA_TOKEN=*access_token*
# GITEA_URL=gitea.com
